@font-face {
  font-family: 'Awesome';
  src: url('fonts/Awesome-Semibold.otf') format('opentype');
}
.carousel-inner > .item,
.item.active,
.item.active.left,
.item.active.right {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 20%;
  font-size: 50px;
  font-family: 'Awesome';
  color: #012d28;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.719);
  filter: drop-shadow(8px 8px 10px gray);
  text-align: center;
}
.Workplaces1 {
  text-align: center;
  font-size: 25px;
  font-family: 'Awesome';
  position: relative;
  height: 500px;
}

.picture {
  display: block;
  text-align: center;

  top: 90%;
}

.Workplaces2 {
  top: 50%;
  font-size: 25px;
  font-family: 'Awesome';
}

body,
html {
  font-family: 'Awesome';
  height: 100%;
  background-image: url('https://images.contentstack.io/v3/assets/blt669635e378bd03a5/bltc786b4ddd4bb733f/5d1de1824e14f34e963a2a53/AW_image49_1200x600.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Information {
  font-size: 20px;
  text-align: center;
}
.kaupunki {
  color: #012d28;
  font-size: 40px;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  text-align: center;
}
.nimike {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  text-align: center;
  color: #049a78;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.bigger {
  font-size: 250%;
}
